{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
Паспорт АРМ/Новая запись
{% endblock title %}

{% block container %}
<div class="form-horizontal">
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn form-control">
        <a href="{% url 'mainapp:arm_list' %}">Вернуться к списку</a>
    </button>
</div>
{% endblock container %}