{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
Паспорта АРМ
{% endblock title %}

{% block menu %}
{% endblock menu %}

{% block container %}
{% if user.is_authenticated %}
<div class="myList">
    <table class="table table-striped">
        <caption><p>Паспорта АРМ</p></caption>
        <thead>
        <tr>
            <th>Сотрудник</th>
            <th>Системный блок</th>
            <th>Монитор</th>
            <th>Принтер</th>
            <th>Сканер</th>
            <th>ИБП</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.worker }}</td>
            <td>{{ item.sysblock }}</td>
            <td>{{ item.monitor }}</td>
            <td>{{ item.printer }}</td>
            <td>{{ item.scanner }}</td>
            <td>{{ item.ups }}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'mainapp:update' item.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="{% url 'mainapp:delete' item.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="record-not-found"><p>Записей не обнаружено!</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <a href="{% url 'mainapp:create' %}" class="btn btn-success btn-block">Добавить запись</a>
    {% endif %}
</div>
{% else %}
<h1>Прежде чем начать работу:</h1>
<h2>1. Проверьте наличие <font color="red">справки</font> от участкового терапевта, <font color="red">выписки</font> из
    домовой книги и чувства <font color="red">юмора</font>.</h2>
<h2>2. И самое важное - не забудьте <a href="{% url 'authapp:login' %}">авторизоваться</a>!</h2>
{% endif %}
{% endblock container %}
