{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
Сотрудники
{% endblock title %}

{% block menu %}
{% endblock menu %}

{% block container %}
<div class="myList">
    <table class="table table-striped">
        <caption><p>Список сотрудников</p></caption>
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>Судебный участок</th>
            <th>№ кабинета</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.last_name }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.patronymic }}</td>
            <td>{{ item.job_title }}</td>
            <td>{{ item.jud_site }}</td>
            <td>{{ item.num_office }}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'userapp:workuser_update' item.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="{% url 'userapp:workuser_delete' item.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="6" class="record-not-found"><p>Записей не обнаружено!</p></td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <a href="{% url 'userapp:workuser_create' %}" class="btn btn-success btn-block">Добавить запись</a>
    {% endif %}
</div>
{% endblock container %}
