{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
Список должностей/Редактирование
{% endblock title %}

{% block container %}
<div class="edit_form">
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn form-control">
        <a href="{% url 'jobtitle:index' %}">Вернуться к списку</a>
    </button>
</div>
{% endblock container %}