{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
Список должностей
{% endblock title %}

{% block menu %}
{% endblock menu %}

{% block container %}
<div class="myList">
    <table class="table table-striped">
        <caption><p>Список должностей</p></caption>
        <thead>
        <tr>
            <th>Наименование полное должности</th>
            <th>Должность (сокращенно)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.job_title }}</td>
            <td>{{ item.job_title_short }}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'jobapp:jobtitle_update' item.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="{% url 'jobapp:jobtitle_delete' item.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="2" class="record-not-found"><p>Записей не обнаружено!</p></td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <a href="{% url 'jobapp:jobtitle_create' %}" class="btn btn-success btn-block">Добавить запись</a>
    {% endif %}
</div>
{% endblock container %}
