<nav class="navbar navbar-expand-lg navbar-dark navbar-static-top" style="background-color: #4682b4 ">
    <a class="navbar-brand" href="#">Тестовый WSGI</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Главная страница</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses/">Учебные курсы</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacts/">Обратная связь</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/">О проекте</a></li>
    </ul>

</nav>