{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Курсы</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in course_lst %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{item}}</a>
            </li>
            {% endfor %}
        </ul>
        <div>
            <form method="post" class="form-inline my-2 my-lg-0">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" placeholder="Новый курс" aria-label="Новый курс"
                               type="text">
                    </div>
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Новый курс</button>
            </form>
        </div>

    </div>
</nav>
{% endblock %}
